<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>No Thanks!</title>
    
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/angular.min.js"></script>
    
  </head>
  
  <body ng-app="NoThanksApp">
    <div class="container-fluid">
      
      <div class="row" ng-controller="MenuCtrl">
	<div class="col-md-12">
	  <h1>{{ title }}</h1>
	  <h2><small>{{ subtitle }}</small></h2>
	</div>
      </div>
      
      <div id="main">
	<div ng-controller="GameCreationCtrl">
	  <h2><small>Créer une partie</small></h2>
	  <div class="row">
	    <div ng-repeat="player in players">
	      <player-info name="{{player.name}}" title="{{ player.type }}" subtitle="{{ player.name}}"></player-info>
	    </div>
	  </div>
	  
	  <div class="btn-group">
	    <a href="#" ng-show="players.length<5" class="btn btn-primary" ng-click="addPlayer('Computer');">Ajouter ordi</a>
	    <a href="#" ng-show="players.length<5" class="btn btn-primary" ng-click="addPlayer('Human');" id="btn-add-player">Ajouter humain</a>
	    <a href="#" ng-show="players.length>2" class="btn btn-warning" ng-click="removePlayer();" id="btn-remove-player">Effacer joueur</a>
	    <a href="#" class="btn btn-success" ng-click="createGame();" id="btn-create-game">Créer une partie</a>
	  </div>
	</div>
      </div>
	
      
      <div class="row">
	<div class="col-md-12">
	  <h2><small>Scores</small></h2>
	  <player-info  name="Lisa" title="Lisa" subtitle="123"></player-info>
	  <player-info  name="Ahmed" title="Ahmed" subtitle="76"></player-info>
	  <player-info  name="Astrid" title="Astrid" subtitle="13"></player-info>
	  <player-info  name="Francoise" title="Francoise" subtitle="151"></player-info>
	  <player-info  name="Leo" title="Leo" subtitle="151"></player-info>
	</div>
      </div>
      

      <div class="panel panel-default">
	<div class="panel-heading">
	  <h3 class="panel-title">À vous de jouer !</h3>
	</div>
	<div class="panel-body">
	  <div class="col-md-1">
	    <img src="resources/img/characters/Ahmed.png">
	    <h4 class="text-center"><small>Joueur</small><br/>Theo</h4>
	    <h4 class="text-center"><small>Points</small><br/>216</h4>
	    <h4 class="text-center"><small>Jetons</small><br/>12</h4>
	  </div>
	</div>

      </div>
    </div>
    

  <div class="col-md-9 media-middle">
	    <div ng-controller="GameCreationCtrl" >
	      <div ng-repeat="n in r">
		<div class="col-md-1">
		  <img src="./resources/img/cards/{{n}}.png">
		</div>
	      </div>
	    </div>
	  </div>


    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/websocket.js"></script>
    
    <script src="js/create.js"></script>
    <script src="js/directives.js"></script>
    </div>
  </body>
</html>
