<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title id="title">No Thanks!</title>
    
    <!-- Bootstrap / Angular / jQuery -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/angular.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    
    <script src="js/definitions.js"></script>
    <script src="js/create.js"></script>
    <script src="js/app.js"></script>
    <script src="js/directives.js"></script>
  </head>
  
  <body ng-app="NoThanksApp">
    <div class="container-fluid" ng-controller="GameCreationCtrl">
      
      <!-- App title -->
      <div class="row" ng-controller="MenuCtrl">
	<div class="col-md-12">
	  <h1>{{ title }}<br/><small>{{ subtitle }}</small></h1>
	</div><!--col-md-12-->
      </div><!--row-->
      
      <div class="row" >
	<div class="col-md-12">
	  <p class="alert alert-info alert-dismissible" id="status"></p>
	</div>
      </div>
      
      <!-- Game creation screen -->
      <div ng-show="showCreationScreen">
	<h2><small>Créer une partie</small></h2>
	<div class="row">
	  <div ng-repeat="player in players">
	    <player-info name="{{player.name}}"
			 title="{{ player.type }}" 
			 subtitle="{{ player.name}}"></player-info>
	  </div><!--ng-reapeat-->
	  <div class="col-md-2">
	    <button ng-show="players.length<5"
		    ng-click="addPlayer('Human');" type="button" class="btn btn-info btn-lg">
	      <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Ajouter un humain
	    </button><br/><br/>

	    <button type="button" ng-show="players.length<5" 
		    ng-click="addPlayer('Computer');"
		    class="btn btn-info btn-lg">
	      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Ajouter un ordinateur
	    </button><br/><br/>

	    <button  ng-show="players.length>2"
		     ng-click="removePlayer();"
		     type="button" class="btn btn-danger btn-lg">
	      <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span> Effacer le dernier
	    </button><br/><br/>

	    <button type="button" class="btn btn-success btn-lg"	  ng-click="createGame();">
	      <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Jouer !
	    </button>
	  </div>
	</div><!--row-->
      </div><!--ng-controller-->
      
      <!-- Liste des joueurs dans le jeu -->
      <div ng-show="showGameScreen">
	<div ng-repeat="player in players">
	  <player-info head="{{ player.name }}"
		       title="Jetons" 
		       subtitle="{{ player.coins }}"
		       name="{{ player.name }}">
	  </player-info>
	</div>
      </div>
      
      <div ng-show="showScoresScreen">
	<div class="row">
	  <div class="col-md-12">
	    <h2><small>Scores</small></h2>
	    <div ng-repeat="player in players">
	      <player-info name="{{ currentPlayer.name }}"
			   title="{{ currentPlayer.type }}" 
			   subtitle="{{ currentPlayer.score }}"></player-info>
	    </div><!--ng-reapeat-->
	  </div><!--col-md-12-->
	</div><!--row-->
      </div><!--ng-show-->
      
      
      <div ng-show="showGameScreen" class="col-md-12">
	<div class="panel panel-default">
	  <div class="panel-body">
	    <div class="col-md-3 text-center">
	      
	      <img ng-src="{{ cardOnTop }}" alt="23">
	      <div class="text-center">
		<p ng-model="$scope.cardOnTop">Carte tirée</p>
		<div class="btn-group">
		  <button type="button" 
			  class="btn btn-success"
			  ng-click="play('take');"
			  ><span class="glyphicon glyphicon-ok"></span> 
		    Prendre
		  </button>
		  
		  <button type="button" 
			  class="btn btn-danger"
			  ng-click="play('drop');"
			  ><span class="glyphicon glyphicon-remove"></span> 
		    Donner
		  </button>
		</div><!--btn-group-->
	      </div><!--caption-->

	    </div><!--col-md-2-->
	    
	    <div class="col-md-6">
	      <div ng-repeat="n in currentPlayer.cards">
		<div class="col-md-1">
		  <img src="./resources/img/cards/{{n}}.png">
		</div><!--col-md-1-->
	      </div><!--ngrepeat-->
	    </div><!-- div md6-->
	  </div><!--panel-body-->
	</div><!--panel-->
      </div><!--col-md-12 a supprimer a la fin-->
    </div><!--container-->
  </body>
</html>
